/* Estilos generales */
body {
    font-family: 'Arial', sans-serif; /* Fuente predeterminada */
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #a3e3e8, #e6aef9); /* Fondo degradado en tonos aqua y lilas */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que la página ocupe toda la altura de la pantalla */
    text-align: center;
    flex-direction: column;
}

header {
    background-color: #5fa3b8; /* Fondo Aqua oscuro */
    padding: 30px 0;
    width: 100%;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif; /* Fuente más estilizada */
}

header h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: bold;
}

header p {
    font-size: 1.3em;
    font-style: italic;
}

/* Contenedor de productos */
.container {
    width: 90%;
    max-w
